<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

  <div class="container-fluid">

    <!-- LOGO -->

    <a
      class="navbar-brand fw-bold text-success"
      routerLink="/">

      ⚽ Football App

    </a>

    <!-- BOTÓN MÓVIL -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">

      <span class="navbar-toggler-icon"></span>

    </button>

    <!-- NAVBAR -->

    <div
      class="collapse navbar-collapse"
      id="navbarNav">

      <ul class="navbar-nav ms-auto">

        <!-- INICIO -->

        <li class="nav-item">

          <a
            class="nav-link"
            routerLink="/">

            Inicio

          </a>

        </li>

        <!-- LOGIN -->

        <li
          class="nav-item"
          *ngIf="!authService.estaLogueado()">

          <a
            class="nav-link text-info"
            routerLink="/login">

            Login

          </a>

        </li>
        <!-- REGISTRO USUARIO -->
<a routerLink="/register" class="btn btn-outline-success"> Registrarse </a>
        <!-- USUARIO -->

        <li
          class="nav-item"
          *ngIf="authService.estaLogueado()">

          <span
            class="nav-link text-success fw-bold">

            👤
            {{ authService.getUsuario() }}

          </span>

        </li>

        <!-- ADMIN -->

        <li
          class="nav-item"
          *ngIf="authService.esAdmin()">

          <span
            class="nav-link text-warning fw-bold">

            ADMIN

          </span>

        </li>

        <!-- LOGOUT -->

        <li
          class="nav-item"
          *ngIf="authService.estaLogueado()">

          <button
            class="btn btn-outline-danger btn-sm ms-2"
            (click)="logout()">

            Logout

          </button>

        </li>

      </ul>

    </div>

  </div>

</nav>