.card {

  background: #1f1f1f;
  color: white;

  border: 2px solid #198754;

  border-radius: 10px;

  padding: 20px;

  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;

}

img {

  width: 120px;
  height: 120px;

  object-fit: cover;

  border-radius: 50%;

  margin: 0 auto;

}

h2 {

  color: #20c997;

  margin: 0;

}

p {

  margin: 0;

}

span {

  color: #adb5bd;

}