<div class="container mt-5">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <div class="card shadow">

        <!-- HEADER -->

        <div class="card-header bg-success text-white">

          <h3 class="mb-0">
            👤 Registro de Usuario
          </h3>

        </div>

        <!-- BODY -->

        <div class="card-body">

          <!-- MENSAJE ÉXITO -->

          <div
            *ngIf="mensajeExito"
            class="alert alert-success mt-3 d-block"
style="font-size:20px;">

            {{ mensajeExito }}

          </div>

          <!-- MENSAJE ERROR -->
<div
  *ngIf="mensajeError"
  class="alert alert-danger mt-3 d-block"
  style="font-size:20px;">

  {{ mensajeError }}

</div>

          <!-- NOMBRE -->

          <div class="mb-3">
            <label class="form-label"> Nombre</label>

            <input
              type="text"
              class="form-control"
              placeholder="Introduzca nombre"
              [(ngModel)]="usuario.nombre">
          </div>

          <!-- EMAIL -->

          <div class="mb-3">
            <label class="form-label"> Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Introduzca email"
              [(ngModel)]="usuario.email">

          </div>

          <!-- PASSWORD -->

          <div class="mb-4">
            <label class="form-label"> Contraseña</label>
            <input
              type="password"
              class="form-control"
              placeholder="Introduzca contraseña"
              [(ngModel)]="usuario.password">
          </div>

          <!-- BOTÓN -->
          <div class="d-grid">
            <button class="btn btn-success" (click)="registrar()"> Registrarse </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>