<div class="container mt-4">

  <!-- TÍTULO -->
  <h1  class="text-white fw-bold text-center mb-5" >
    Buscar Jugadores API
  </h1>

  <!-- BUSCADOR -->
  <div class="row mb-4">

    <!-- NOMBRE -->
    <div class="col-md-4">
      <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Nombre del jugador">
    </div>

    <!-- TEMPORADA -->
    <div class="col-md-3">
      <input type="number" class="form-control"  [(ngModel)]="season"  placeholder="Temporada">
    </div>

    <!-- LIGA -->
  <div class="col-md-3">
  <select class="form-select" [(ngModel)]="liga">
    <option [value]="39">  Premier League</option>
    <option [value]="140"> LaLiga</option>
    <option [value]="135"> Serie A </option>
    <option [value]="78"> Bundesliga </option>
    <option [value]="61"> Ligue 1 </option>
  </select>
</div>

    <!-- BOTÓN -->
    <div class="col-md-2">
      <button class="btn btn-success w-100" (click)="buscarJugador()"> Buscar</button>
    </div>
  </div>

  <!-- LOADING -->
  <div
    *ngIf="cargando"
    class="text-center mb-4">

    <div class="spinner-border text-success"></div>

  </div>

  <!-- MENSAJE -->
  <div
    *ngIf="mensaje"
    class="alert alert-info">
    {{ mensaje }}
  </div>


<!-- RESULTADOS -->

<div class="row">

  <div
    class="col-md-4 mb-4"
    *ngFor="let jugador of resultados">

    <player-card

      [nombre]="jugador.nombre"
      [equipo]="jugador.equipo"
      [posicion]="jugador.posicion"
      [foto]="jugador.imagen">

    </player-card>

    <button

      class="btn btn-success w-100 mt-2"

      (click)="importarJugador(jugador)">

      Importar

    </button>

  </div>

</div>


</div>